{% if not data %}
    <h4>Впишите напротив каждой параллели буквы имеющихся классов</h4>

    <form id="classes_form">
        <table cellspacing="0">
            <tr>
                <th>Параллель</th>
                <th>Классы</th>
            </tr>
            {% for class in class_number %}
            <tr>
                <td>{{ class }}</td>
                <td>
                    <input type="text" placeholder="а, б, в,..."/>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
{% else %}
    Вы добавили классы
{% endif %}

