{% extends 'app.html' %}
{% load staticfiles %}

{% block auth %}
    <div class="auth">
        Hello:3 <br>
        <img src="{% static "cool.jpg" %}">
        <p>
            Авторизуйтесь:
            <form action="/login/" method="post">
                <label style="color:red;">{{ login_error }}</label>
    {#            {% csrf_token %}#}
                <p>
                    Логин: <input type="text" name="login"><br>
                </p>
                <p>
                    Пароль: <input type="password" name="password"><br>
                </p>
                <input type="hidden" name="next" value="main.html" />
                <input type="submit" name="auth" value="Подтвердить">
            </form>
        </p>
    </div>
{% endblock %}