<section class="step2">
    <form id="classrooms_form">
        <table cellspacing="0">
            <tr>
                <th>Кабинет</th>
                <th>Предмет, к которому он относится</th>
            </tr>
            <tr>
                <td><input type="text" value="1"/></td>
                <td>
                    <select>
                        <option selected>Математика</option>
                        <option>Русский</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="text" value="2"/></td>
                <td>
                    <select>
                        <option selected>Математика</option>
                        <option>Русский</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="text" value="3"/></td>
                <td>
                    <select>
                        <option selected>Математика</option>
                        <option>Русский</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="text" value="4"/></td>
                <td>
                    <select>
                        <option selected>Математика</option>
                        <option>Русский</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
    <div class="nav_buttons">
        <a class="step_button back" href="javascript:void(0);" onclick="prev_step(this);">Назад</a>
        <a class="step_button next" href="javascript:void(0);" onclick="next_step(this);">Далее</a>
    </div>
</section>
