<section class="step2">
    <table>
        <tr>
            <th><input type="checkbox" onchange="choose_all_subjects(this);"></th>
            <th>Предметы/Классы</th>
            {% for class in classes %}
                <th>{{ class }}</th>
            {% endfor %}
        </tr>
        {% for subject in subjects %}
        <tr>
            <td><input type="checkbox" data-subject_id="{{ subject.id }}" ></td>
            <td>{{ subject }}</td>
            {% for classname in classes %}
                {% for com in common_rel %}
                    {% if com.sclass.class_name == classname.class_name %}
                        {% if com.subject.subject_name == subject.subject_name %}
                            <td>
                                <input type="text" value="{{ com.subject_max_load }}" onchange="remember_load(this);" data-class="{{ classname }}" data-subject="{{ subject }}"/>
                            </td>
                        {% else %}
                            <td>
                                <input type="text" value="" onchange="remember_load(this);" data-class="{{ classname }}" data-subject="{{ subject }}"/>
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div class="nav_buttons">
        <a class="step_button back" href="javascript:void(0);" onclick="prev_step(this);">Назад</a>
        <a class="step_button next" href="javascript:void(0);" onclick="next_step(this); ">Далее</a>
    </div>
</section>
