<section class="step1">
    <div class="demands">
        <p>
            Выберите режим работы школы:
            <select>
                <option selected value="5">5 д/нед</option>
                <option value="6">6 д/нед</option>
            </select>
        </p>
        <p>
            И еще чего-нибудь
        </p>
    </div>

    <div class="nav_buttons">
        <a class="step_button back  disabled" href="javascript:void(0);" onclick="prev_step(this);">Назад</a>
        <a class="step_button next" href="javascript:void(0);" onclick="next_step(this);">Далее</a>
    </div>
</section>
