{% extends 'app.html' %}
{% load staticfiles %}

{% block main %}

    <section>
        Для того, чтобы сгенерировать расписание, необходимо выполнить следующее:<br>
        <ol>
            <li>После нажатия на кнопку "Создать новое расписание", вы сможете проверить данные, внесенные в систему и исправить некоторые ошибки. В случае невозможности исправления, необходимо обратиться к администратору.</li>
            <li>Нажать на кнопку "Сгенерировать расписание" и дождаться результата работы системы.</li>
            <li>Оценить корректность полученного расписания: запросить генерацию нового или сохранить полученное расписание, а затем распечатать его.</li>
            <li>Сохраненные расписания находятся в архиве.</li>
        </ol>
        <a class="create_schedule" href="new">Создать новое расписание</a>
        <a class="saved_schedule" href="archive">Сохраненные расписания</a>
{#        <a href="generate">Проверить алгоритм</a>#}
    </section>
{% endblock %}