{% extends 'app.html' %}
{% load staticfiles %}

{% block main %}

    <section>
        Для того, чтобы сгенерировать расписание, необходимо выполнить следующее:<br>
        <ol>
            <li>После нажатия на кнопку "Создать новое расписание", пошагово заполнить информацией раздел о классах, кабинетах, предметах и учителях</li>
            <li>Выбрать дополнительные параметры - смены, спаренность уроков и прочее</li>
            <li>Нажать на кнопку "Сгенерировать расписание" и дождаться результата работы системы</li>
            <li>Оценить корректность полученного расписания: внести правки, если потребуется, или утвердить полученное расписание</li>
        </ol>
        <a class="create_schedule" href="new">Создать новое расписание</a>
    </section>
{% endblock %}