{% extends 'app.html' %}
{% load staticfiles %}

{% block new %}

    <div id="steps">
        <h3>Классы</h3>
        <section>
            <div class="set">
                {% include "add_classes.html" %}
            </div>
        </section>
        <h3>Предметы</h3>
        <section>
            <div class="set">
                {% include "add_lessons.html" %}
            </div>
        </section>
        <h3>Кабинеты</h3>
        <section>
            <div class="set">
                {% include "add_classrooms.html" %}
            </div>
        </section>
        <h3>Учителя</h3>
        <section>
            <div class="set">
                {% include "add_teachers.html" %}
            </div>
        </section>
    </div>

{% endblock %}


{##}
{#    <div class="content">#}
{#        <div class="submenu">#}
{#            <a href="/new/classes">Классы</a>#}
{#            <a href="/new/lessons">Предметы</a>#}
{#            <a href="/new/classrooms">Кабинеты</a>#}
{#            <a href="/new/teachers">Учителя</a>#}
{#        </div>#}
{#        <div class="frame">#}
{#            {% include "add_classes.html" %}#}
{#        </div>#}
{##}
{#    </div>#}