{% extends 'app.html' %}
{% load staticfiles %}

{% block new %}

    <div class="content">
        <div class="submenu">
{#            <a class="s1" href="javascript:void(0);" onclick="to_step(this);"><b>&#62;</b>Установки</a>#}
            <a class="s2" href="javascript:void(0);" onclick='to_step(this);'><b>&#62;</b>Нагрузка по классам</a>
            <a class="s3" href="javascript:void(0);" onclick="to_step(this);"><b>&#62;</b>Учителя</a>
        </div>
        <div class="frame">
            {% include 'demands.html' %}
            {% include 'classes.html' %}
            {% include 'teachers.html' %}
        </div>

        <div class="actions">
            <section class="desc1">
                <a class="save_changes" href="javascript:void(0)" onclick="save_changes();">Сохранить<br>изменения</a>
            </section>
            <section class="desc2">
                <a class="save_changes" href="javascript:void(0)" onclick="save_changes();">Сохранить<br>изменения</a>
{#                <a class="add_subject" href="javascript:void(0)" onclick="add(this);">Добавить предмет</a>#}
{#                <a class="del_subject" href="javascript:void(0)" onclick="del(this);">Удалить предмет</a>#}
            </section>
            <section class="desc3">
                <a class="save_changes" href="javascript:void(0)" onclick="save_changes();">Сохранить<br>изменения</a>
                <a class="add_teacher" href="javascript:void(0)" onclick="add(this);">Добавить учителя</a>
{#                <a class="del_teacher" href="javascript:void(0)" onclick="del(this);">Удалить учителя</a>#}
            </section>
        </div>

        <div class="description">
            <section class="desc1">Установите необходимые требования</section>
            <section class="desc2">Заполните классы</section>
            <section class="desc3">Проверьте учителей</section>
        </div>

    </div>

    <div id="modal_add_subject">
        <h4>Добавление нового предмета</h4>
        <span id="modal_close" onclick="close_modal(this);">X</span>

        <table>
            <tr>
                <td>Название предмета: </td>
                <td><input type="text" name='subject_name' value="Математика"/></td>
            </tr>
            <tr>
                <td>
                    Отметьте те классы, <br/>у которых будет проводиться<br/> данный предмет<br/><br/>
                    Рядом проставьте максимальное<br/>
                    время недельной нагрузки.
                </td>
                <td>
                    <div class="checkbox_classes">
                        {% for cl in classes %}
                            <input data-class-id={{ cl.id }} type="checkbox"/> {{ cl.parallel_letter }}
                            <input data-class-id={{ cl.id }} type="text" name="week_load" style="width:20px; margin:3px 0 3px 50px;"/>
                            <br/>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>

        <div class="modal_buttons">
            <a class="add_subject" href="javascript:void(0);" onclick="add_subj()">Добавить</a>
        </div>
    </div>


    <div id="modal_add_teacher">
         <span id="modal_close" onclick="close_modal(this);">X</span>
    </div>

    <div id="wishes">
        <span id="modal_close" onclick="close_modal(this);">X</span>
        <span style="color:darkgreen"><b></b></span>
        <br><br>
        Вы можете выбрать целый нерабочий день, нажатием на ячейку соотвествующего дня недели, либо конкретный урок<br>
        По умолчанию все дни - свободные, выделены зеленым. <br>
        Красным цветом отображается невозможность проведения занятия в выбранный час или день.
        <br>
        <br>
        <span id="here"></span>

        <table class="wishes" cellspacing="0">
            <tr><td></td></tr>
            {# Здесь вставляется динамически скриптом #}
        </table>
        <br><br>

        <a href="javascript:void(0)" class="save_changes" style="background: green" onclick="save_change_the_state()">
            Сохранить изменения
        </a>
    </div>


    <div id="overlay"></div>
{% endblock %}
