{% extends 'app.html' %}
{% load staticfiles %}

{% block schedule %}
    <table class="schedule">
        <tr>
            <th>Класс</th>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
        </tr>
        <tr>
            <td>5a</td>
            <td>
                Русский<br>
                Математика<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
        </tr>
        <tr>
            <td>6б</td>
            <td>
                Русский<br>
                Математика<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>
                Русский<br>
                Математика<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>
                Русский<br>
                Математика<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
            <td>
                Русский<br>
                Математика<br>
                Окружающий мир
            </td>
        </tr>
    </table>
{% endblock %}