{% load staticfiles %}

<section class="step3">
    <table cellspacing="0">
        <tr>
            <th><input type="checkbox"/></th>
            <th>Фамилия</th>
            <th>Имя </th>
            <th>Отчество</th>
            <th>Совместительство</th>
            <th>Предмет(ы)</th>
            <th>Класс(ы)</th>
            <th>Пожелания по урокам</th>
{#            <th>Совместительство</th>#}
{#            <th>Классное руководство</th>#}
            <th>Кабинет</th>
        </tr>

        {% for teacher in teachers %}
        <tr>
            <td><input type="checkbox"/></td>
            <td> {{ teacher.last_name }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.middle_name }}</td>
            <td>
                {% if teacher.staff_type == True %}
                    Да
{#                    <img src="{% static "/img/yes.png" %}"#}
                {% else %}
                    Нет
{#                    <img src="{% static "/img/no.png" %}"#}
                {% endif %}
            </td>

            <td>
                {% for com in common_rel %}
                    {% if com.teacher.id == teacher.id %}
                        {{ com.subject }}<br/>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for com in common_rel %}
                    {% if com.teacher.id == teacher.id %}
                        {{ com.sclass }}<br/>
                    {% endif %}
                {% endfor %}
            </td>
            <td data-ban-hours={{ teacher.ban_hours }}>
                <button class="wishes" onclick="add(this);">Добавить</button>
            </td>
{#            <td>#}
{#                <select>#}
{#                {% for type in staff_types %}#}
{#                    {% if type.id == teacher.staff_type.id %}#}
{#                        <option selected value="{{ type.id }}">{{ type }}</option>#}
{#                    {% else %}#}
{#                        <option value="{{ type.id }}">{{ type }}</option>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                </select>#}
{#            </td>#}

{#            <td>#}
{#                {% if teacher.class_management != None %}#}
{#                    {{ teacher.class_management }}#}
{#                {% else %}#}
{#                    -#}
{#                {% endif %}#}
{#            </td>#}
            <td>{{ teacher.teacher_cabinet.cabinet_number }}</td>

        </tr>
        {% endfor %}

    </table>
    <div class="nav_buttons">
        <a class="step_button back" href="javascript:void(0);" onclick="prev_step(this);">Назад</a>
        <a class="step_button next" href="generate" onclick="prepare_for_generate();">Готово</a>  <!--href на generate-->
    </div>
</section>


