{% load staticfiles %}

<section class="step3">
    <table cellspacing="2">
        <tr>
            <th>№</th>
            <th>Фамилия</th>
            <th>Имя </th>
            <th>Отчество</th>
            <th>Кабинет</th>
            <th>Предмет(ы)</th>
            <th>Класс(ы)</th>
            <th>Нерабочие часы</th>
            <th>Совместительство</th>
        </tr>

        {% for teacher in teachers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.middle_name }}</td>
            <td>№{{ teacher.teacher_cabinet.cabinet_number }}</td>
            <td>
                {% for com in common_rel %}
                    {% if com.teacher.id == teacher.id %}
                        {{ com.subject }}<br/>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for com in common_rel %}
                    {% if com.teacher.id == teacher.id %}
                        {{ com.sclass }}<br/>
                    {% endif %}
                {% endfor %}
            </td>
            <td data-ban-hours={{ teacher.ban_hours }}
                data-teacher-lastname={{ teacher.last_name }}
                data-teacher-firstname={{ teacher.first_name }}
                data-teacher-middlename={{ teacher.middle_name }}
                data-teacher-id={{ teacher.id }}>
                {% if teacher.ban_hours == None %}
                    <button class="wishes buttons green_button" onclick="add(this);">Добавить</button>
                {% else %}
                    <button class="wishes buttons blue_button" onclick="add(this);">Изменить</button>
                {% endif %}
            </td>
            <td>
                {% if teacher.staff_type == True %}
                    <img style="width:20px;" src="{% static "yes.png" %}">
                {% else %}
                    <img style="width:20px;" src="{% static "no.png" %}">
                {% endif %}
            </td>


        </tr>
        {% endfor %}

    </table>
    <div class="nav_buttons">
        <a class="step_button back" href="javascript:void(0);" onclick="prev_step(this);">Назад</a>
        <a class="step_button next" href="schedule" onclick="prepare_for_generate();">Готово</a>  <!--href на generate-->
{#        <a class="step_button next" href="generate" onclick="prepare_for_generate();">Готово</a>  <!--href на generate-->#}
    </div>
</section>


