body {
    margin:0 auto;
    padding: 0;
}
a {
    text-decoration: none;
}
article {
    border:1px solid;
    display:block;
    margin: 5px auto;
    height: 50px;
    width: 150px;
    padding: 50px;
}
main {
    border: 1px solid;
    height: 500px;
    width:700px;
    display: block;
    float:right;
}

table {
    width:100%;
}
table td {
    padding:5px 10px;
    font-weight: normal;
    font-size: 0.9em;
}
table th {
    padding:5px 10px;
    background: #2b3589;
    color:white;
    font-weight: normal;
    font-size: 0.9em;
}

.create_schedule {
    border-radius: 5px;
    display: block;
    margin:50px auto;
    width:210px;
    padding:20px 30px;
    color:white;
    font-size: 1.1em;
    font-weight: bold;
    background: #00007c;
    box-shadow: 2px 2px 3px grey;
}
.create_schedule:hover {
    padding: 21px 31px;
}
.create_schedule:active {
    padding: 19px 29px;
}
/* addClasses */
#classes_form th:first-child {
    text-align: center;
}
#classes_form th {
    text-align: left;
}
#classes_form th:first-child {
    /*width:5%;*/
}
#classes_form td:first-child {
    text-align: center;
    padding:10px 20px;
}
#classes_form input[type=text] {
    width:10px;
    height:15px;
    text-align: center;
    border:1px solid lightgrey;
    border-radius: 3px;
}
/* end addClasses */

/* addLessons */
#lessons_form th:first-child {
    text-align: center;
}
#lessons_form th:first-child, #lessons_form td:first-child {
    width:20%;
    text-align: left;
}
#lessons_form td:not(:first-child) {
    text-align: center;
    padding:5px 20px;
}
#lessons_form input[type=text] {
    width:30px;
}
/* end addLessons */

/* addClassrooms */
#classrooms_form th {
    text-align: left;
}
#classrooms_form th:first-child {
    width:15%;
}
#classrooms_form input[type=text] {
    width:30px;
    text-align: center;
}
/* end addClassrooms */

/* addTeachers */
#teachers_form th, #teachers_form td{
    text-align: left;
}
#teachers_form input[type=text] {
    width:100px;
}
#teachers_form input[name=IO] {
    width:200px;
}
#teachers_form input[name=class], #teachers_form input[name=classroom] {
    width:30px;
    margin: auto;
}
/* end addTeachers */


#steps {
    width:1200px;
    height:620px;
    margin:auto;
}
.auth {
    display:block;
    margin: auto;
    width:200px;
    text-align: center;
}
/* Navigation */
.bar {
    height:30px;
    background: green;
    margin-bottom:20px;
    color: #ffffff;
}
.bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height:inherit;
}
.bar ul a {
    display:inline-block;
    float: left;
    color: white;
    vertical-align: middle;
    padding: 5px 15px;
}
.bar ul a:hover {
    text-decoration: underline;
}
.bar ul a:active {
    text-decoration: none;
    color:yellow;
}
.bar .logout {
    float:right;
}
/* end Navigation */

/* editBlock */
/*.set {*/
     /*color: #5b5b89;*/
 /*}*/
/*.set table {*/
    /*border: 1px solid;*/
    /*box-shadow: 2px 2px 3px grey;*/
/*}*/
/*.set td {*/
    /*background: #f4f4f4;*/
/*}*/
/* end editBlock */

/* main Schedule */
.schedule th:first-child {
    width:3%;
}
.schedule th {
    border:none;
}
.schedule td {
    padding: 3px 10px;
    border:none;
}
.schedule tr:nth-child(even) {
    background: #f4f3f3;
}
.schedule tr:nth-child(odd) {
    background: #fff;
}
.schedule tr:hover td{
    /*box-shadow: 3px 1px 2px 1px #3b3f80;*/
}
/* end main Schedule */

/*parted Schedule*/
.schedule_detailed {
    width:97%;
    margin:auto;
    position:relative;
}
.schedule_detailed:after {
    content: '';
    display: block;
    clear: both;
}
/* hours */
.schedule_detailed .load_hours {
    border-radius:5px;
    width:47%;
    padding: 0.5%;
    float: right;
    min-height: 220px;
    background: #f2f2c1;
    margin:0 0 15px 0;
}
/* end hours */
.schedule_detailed .load_cabinets {
    border-radius:5px;
    width:47%;
    padding: 0.5%;
    float: right;
    min-height: 230px;
    background: #d3d8eb;
}

/* warning */
.schedule_detailed .warning {
    border-radius:5px;
    width:49%;
    height:100px;
    float:left;
    display:block;
    overflow-y:auto;
    margin:0 15px 15px 0;
    background: #fbda52;    /*когда не ок*/
    /*background: #85fb76;  когда все ок*/
    padding: 0.5%;
}
.schedule_detailed .warning span {
    width:70%;
    display:block;
    margin:4% auto 0;
}
/* end warning */

.schedule_detailed .week {
    border-radius:5px;
    padding: 0.5%;
    width:49%;
    float:left;
    display:block;
    min-height: 350px;
    background: #e5e5e5;
    margin:0 15px 0 0;
}
.schedule_detailed .week .class_schedule {
    width:70%;
    margin: auto;
}
.schedule_detailed .week .class_schedule td {
    border-radius:5px;
    background: white;
    vertical-align: top;
    width:30%;
}
.schedule_detailed .week .class_schedule td>div {
    color:blue;
    text-decoration: underline;
}
/*end parted Schedule*/


/*new steps*/
    .content {
        width:1240px;
        margin:auto;
    }
    .content:after {
        content:'';
        display:table;
        clear:both;
    }
    .description, .actions {
        border-radius: 3px;
        min-height: 150px;
        padding: 10px;
        width:150px;
        float:left;
    }
    .description {
        background: #ffe6a5;
    }
    .actions {
        margin:10px 0;
        /*background: #e6eaff;*/
    }
    .submenu {
        float:left;
        display:inline-block;
    }
    .submenu a {
        display:block;
        margin-bottom: 5px;
        color:#0000c2;
    }
    .submenu a:hover {
        text-decoration: underline;
    }
    .frame {
        width:1050px;
        height:590px;
        display:inline-block;
        float:right;
        position:relative;
        /*background: #e7e7e7;*/
        border-radius: 3px;
        overflow-y: auto;
    }
    .frame form {
        margin:auto;
        width:880px;
        border:1px solid;
    }
    .frame table {
        border: 1px solid;
        box-shadow: 2px 2px 3px #5f6a80;
    }
    .frame td {
        background: #f4f4f4;
    }
    .frame input[type=button] {
        position:absolute;
        left:880px;
        top:520px;
        background: #0000c2;
        height:30px;
        border:none;
        color:white;
        cursor:pointer;
    }
    /*.step1,*/
    /*.step3,*/
    /*.desc1,*/
    /*.desc3 {*/
        /*display:none;*/
    /*}*/
    .step1,
    .step2,
    .desc1,
    .desc2 {
        display:none;
    }
    .s1, .s3 {
        font-weight: normal;
    }
    .s1 b, .s3 b {
        display: none;
    }
    .s2 {
        font-weight: bold;
    }
    .s2 b {
        display: inline;
    }

    .nav_buttons {
        position: relative;
        width:140px;
        margin-top:50px;
        float:right;
    }
    .step_button {
        display: inline-block;
        padding:5px 10px;
        border-radius:3px;
        color:white;
    }
     .next{
        background: #0000c2;
    }
     .back{
        background: green;
    }
    .disabled {
        color:grey;
        opacity: 0.5;
        cursor:default;
    }

    .step1 tr:hover td,
    .step2 tr:hover td,
    .step3 tr:hover td{
        background: #d2d9e6;
    }

    .step1 .demands {
        width:70%;
        margin:auto;
    }

    .step2 th:first-child {
        width:4%;
    }
    .step2 td:not(:nth-child(2)) {
        text-align: center;
    }
    .step2 input[type=text] {
        width:20px;
        text-align: center;
    }
    .step3 td {
        vertical-align: top;
        text-align: center;
    }

    .add_subject, .add_cabinet, .add_teacher,
    .del_subject, .del_cabinet, .del_teacher,
    .save_changes {
        display: inline-block;
        padding:5px 10px;
        border-radius:3px;
        color:white;
        margin-bottom: 10px;
    }

    .add_subject,
    .add_cabinet,
    .add_teacher {
        background: green;
    }
    .del_subject,
    .del_cabinet,
    .del_teacher {
        background: darkred;
    }
    .save_changes {
        background:#0000c2;
    }
/*end new steps*/

/*modal win*/
#modal_add_subject,
#modal_add_cabinet,
#modal_add_teacher,
#wishes {
	width: 500px;
	min-height: 300px;
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 25%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 40%; /* половина экрана слева */
	margin-top: -150px;
	margin-left: -150px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	z-index: 5; /* окно должно быть наиболее большем слое */
	padding: 20px 10px;
}

#modal_add_subject #modal_close,
#modal_add_cabinet #modal_close,
#modal_add_teacher #modal_close,
#wishes #modal_close{
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#modal_add_subject h4 {
    margin-top: -10px;
    width:70%;
}
#modal_add_subject table {
    margin-top: 50px;
}
#modal_add_subject td:first-child {
    text-align: right;
    vertical-align: top;
}

#modal_add_subject tr:hover td {
    background: none;
}

.modal_buttons {
    margin-top: 20px;
    text-align: right;
    position: absolute;
    bottom:0;
    width:95%;
}

.checkbox_classes {
    border:1px solid darkgrey;
    width:170px;
    max-height: 100px;
    overflow-y: auto;
    background: white;
    right:130px;
    top:120px;
    z-index:100;
}

/* Подложка */
#overlay {
	z-index: 3; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
	position: fixed; /* всегда перекрывает весь сайт */
	background-color: #000; /* черная */
	opacity: 0.8; /* но немного прозрачна */
	width: 100%;
	height: 100%; /* размером во весь экран */
	top: 0;
	left: 0; /* сверху и слева 0, обязательные свойства! */
	cursor: pointer;
	display: none; /* в обычном состоянии её нет) */
}
/*end modal win*/

/*modal teachers wishes */

.wishes {
    border:1px solid;
}
.wishes td {
    border: 1px solid;
    }
.wishes td.green {
    background-color: lightgreen;
    }
.wishes td.red {
    background-color: lightcoral;
    }
.wishes tr:hover td{
    cursor: pointer;
}

.wishes td:active {
    background-color: #d3d8eb;
    cursor: pointer;
}


/*end modal teachers wishes */
