body {
    margin:0 auto;
    padding: 0;
}
a {
    text-decoration: none;
}
article {
    border:1px solid;
    display:block;
    margin: 5px auto;
    height: 50px;
    width: 150px;
    padding: 50px;
}
input {
    width:50px;
    text-align: center;
}
main {
    border: 1px solid;
    height: 500px;
    width:700px;
    display: block;
    float:right;
}
#steps {
    width:1000px;
    height:620px;
    margin:auto;
}
.accept {
    width: 100px;
    position: absolute;
    top:550px;
    left:1050px;
}
.add {
    border:1px solid darkgreen;
    margin:3%;
    height:92%;
}

.add a {
    display: block;
    border:1px solid red;
    width: 150px;
}
.auth {
    display:block;
    margin: auto;
    width:200px;
    text-align: center;
}
.bar {
    height:60px;
    background: #9999CC;
    margin-bottom:20px;
    color: #ffffff;
}
.bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height:inherit;
}
.bar ul a {
    display:inline-block;
    border-right:1px solid;
    float: left;
    color: white;
    vertical-align: middle;
    padding: 20px;
}

.change_visible {
    display: block;
}
.set {
    color: #5b5b89;
}
.set h4 {
    margin: 0 0 15px 0;
    font-size: 1.1em;
    font-weight:normal;
}

table {
    width:100%;
}
table tr {
    border-top:1px solid black;
}
table th {
    padding:5px 10px;
    background: #5b5b89;
    color:white;
    text-align: left;
    font-weight: normal;
    font-size: 0.9em;
}
table th:first-child {
    width:15%;
}
table td {
    text-align: center;
    padding:10px 15px;
}
table td input {
    width:100%;
    text-align: left;
}