{% load staticfiles %}
{% load mytags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'static/js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/modal.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Расписание занятий</title>
</head>
<body>


    {% if username %}
        {% include "bar.html" %}
    {% endif %}

    {% block auth %}{% endblock %}
    {% block main %}{% endblock %}
    {% block new %}{% endblock %}
    {% block schedule %}{% endblock %}
    {% block schedule_detailed %}{% endblock %}
</body>
</html>